<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="*" Name="Test" Language="1033" Version="1.0.0.0" Manufacturer="AjayElme" UpgradeCode="26598ee8-5701-4de0-92d9-6de77f0ccf97">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="Test" Level="1">
      <ComponentRef Id="ApplicationFiles"/>
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Test" />

        <Component Id="ApplicationFiles" Guid="8861f7b6-f629-4a9f-9f62-38832eddfeb8">
          <File Id="ApplicationFile1" Source="C:\Projects\Jenkin POC\INIFileDemo\Test\ErrorLog.exe"/>
        </Component>
      </Directory>
    </Directory>
  </Fragment>

</Wix>
